{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="jasurbek,javlonbek,ddls,edunest, education center, free course, kurgantepa, Qo'rg'ontepa,  best of the best education center is EDUNEST" />
<meta name="author" content="Solijonov Abduxoliq" />
<title>Edunest education center </title>
<link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
    <body>
    <div class="vid-container">
      <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
          <source src="../static/assets/images/world.mp4" type="video/mp4">
      </video>
      <div class="inner-container">
        <video class="bgvid inner" autoplay="autoplay" muted="muted" preload="auto" loop>
          <source src="../static/assets/images/world.mp4" type="video/mp4">
        </video>
        <div class="box">
          <h1>Edunest</h1>
        <form action="{% url 'addstudent'%}" method="POST"  >
            {%csrf_token%}
          <input type="text" placeholder="Username" name="name" required/>
          <input type="number" placeholder="Phone number"  name="phone_number" required/>
            <select name="course" >
                {% for i in course %}
                <option value="{{i.id}}">{{i.name}}--{{i.price}}</option>
                {%endfor%}
            </select>

          <button>Login</button>
          <p><span><a href="{% url 'mocks'%}">Registration for mock</a></span></p>
        </form>
            <div class="segment">
                <h5>Bizning Ijtimoiy tarmoqlarimiz</h5>
                {%for i in link%}
                <button class="unit" type="button">
                    <a style="font-size: 20px" href="{{i.link}}" target="_blank"><i class="fa fa-telegram">{{i.get_name_display}}</i></a>
                </button>
                {%endfor%}
            </div>
             <div class="segment">
                <h5>Biz bilan bog'lanish uchun telefonlar</h5>
                    <p style="font-size: 20px" ><i class="fa fa-telegram">Javlonbek Abdurakhimov +998 88 976 04 08</i></p>
                    <p style="font-size: 20px" ><i class="fa fa-telegram">Jasurbek Abdurakhimov  +998 88 999 63 36</i></p>
            </div>
        </div>
      </div>
</div>


    </body>

</html>